
<form>
   <div class="form-group">
    <label for="FirstName"><b>First Name</b></label>
    <input 
      required 
      minlength="3"
      ngModel 
      name="FirstName" 
      #FirstName="ngModel" 
      (change)="log(FirstName)" 
      id="FirstName"
      type="text" 
      text="text" 
      class="form-control">
    <div 
      class="alert alert-danger" 
      *ngIf="FirstName.touched && !FirstName.valid">FirstName is required.</div>
    <div *ngIf="FirstName.errors.minlength && FirstName.touched">Cannot Enter Less Than 2 Characters</div>
   
   </div>
   <br>
   <div class="form-group">
     <label for="comment"><b>Comments</b></label>
     <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <br>
    <button class="btn btn-primary">Submit</button>  
</form>

